@font-face {
    font-family: 'DINPro';
    src: local('0'), url('../fonts/DINPro.woff') format('woff'),
        url('../fonts/DINPro.woff2') format('woff2');
}

@font-face {
    font-family: 'DINPro-Black';
    src: local('0'), url('../fonts/DINPro-Black.woff') format('woff'),
        url('../fonts/DINPro-Black.woff2') format('woff2');
}

@font-face {
    font-family: 'DINPro-Bold';
    src: local('0'), url('../fonts/DINPro-Bold.woff') format('woff'),
        url('../fonts/DINPro-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'DINPro-Light';
    src: local('0'), url('../fonts/DINPro-Light.woff') format('woff'),
        url('../fonts/DINPro-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'DINPro-Medium';
    src: local('0'), url('../fonts/DINPro-Medium.woff') format('woff'),
        url('../fontsDINPro-Medium.woff2') format('woff2');
}