$white: #fff;
$black: #000;

$primary: #FE9C35;
$primery-hover: #FCC184;
$boldFont: 'DINPro-Bold';
$blackFont: 'DINPro-Black';
$font: 'DINPro';
$lightFont: 'DINPro-Light';
$mediumFont: 'DINPro-Medium';

