.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    color: $white;
    box-sizing: border-box;
    //background-color: rgba(0, 0, 0, .8);
    width: 100%;
    padding: 15px;
    padding-bottom: 12px;
    
}

.fixed_wrap {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   
   
}

.fixed_hamburger {
    flex-basis: 38px;
    flex-shrink: 0;
    cursor: pointer;

    :last-child{
      margin-bottom: 0px;
    }
  

    span{
      display: block;
      background-color: $primary;
      height: 3px; 
      border-radius: 2px; 
      width: 100%;
      margin-bottom: 8px;

    }
}

.fixed_repair {
   margin: auto;

}

.fixed_map {
  padding-left: 48px;
  background-image: url("../images/map.png") ;
  background-repeat: no-repeat;
  background-position: left center;
  //padding: 24px 0 24px 48px;
  display: none;
  margin: auto;
  margin-left: 0px;
  p {
    margin: 0;
  }
  :first-child{
    font-size: px-to-rem(22);
    line-height: px-to-rem(29);
  }
  :last-child{
    font-size: px-to-rem(15);
    line-height: px-to-rem(19);
  }
}

.fixed_phone {
 // margin: auto;
  a {
    display: block;
    text-decoration: none;
  }
  img {
    display: block;
  }
  span {
    display: none;
    font-size: px-to-rem(22);
    line-height: px-to-rem(28);
    font-weight: bold;
    color: $white
  }
}

.fixed_btn {  
  @include btn {
    display: none;
    margin: auto;   
    margin-right: 0px;
    max-width: 147px;
  }
}

.fixed_callback {
  display: none;
  font-size: px-to-rem(14);
  line-height: px-to-rem(18);
  margin-left: 15px;
  margin-right: 0px;

}

@media (min-width: 480px) {
  
  .fixed_map {
    display: block;
  }

}

@media (min-width: 680px) {

  .fixed_phone {

    img {
      display: none;
    }

    span {
      display: block;
    }
  }
}

@media (min-width: 880px) {
  .fixed_btn {
    display: block;
  }
}

@media (min-width: 1024px) {
  .fixed_callback {
    display: block;
  }

  .fixed_hamburger {
    position: relative;
    &::after {
      content: "Меню";
      font-weight: bold;
      font-size: px-to-rem(19);
      line-height: px-to-rem(25);
      position: absolute;
      right: -60px;
      top: 50%;
      transform: translateY(-50%);
    
    }
  }
}