.projects {
    background: url("../images/list-of-works-bg.jpg") 70% top no-repeat $black;
    background-size: cover;
    color: $white;
    position: relative;
    z-index: 1;

    &::before {
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.15) 50.52%, #000000 100%), rgba(32, 32, 32, 0.66);
        background-blend-mode: multiply, normal;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}

.projects_wrap {
    padding-top: 100px;
    padding-bottom: 30px;
    height: 100%;
    position: relative;
}

.projects_slider {
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;
}



.projects_title {
    font-family: $boldFont;
    font-size: px-to-rem(32);
    line-height: 116.3%;
    text-align: center;
    color: $primary;
    margin: 0 0 28px 0;
    
}

.projects_example {
    font-family: $lightFont;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    margin: 32px 0 24px 0;
}

.projects_gallery {
    margin-top: 35px;
}

.projects_big {
    margin-bottom: 3px;

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.projects-mini {
    display: flex;
    justify-content: space-between;

    a {
        text-decoration: none;
        margin-right: 3px;

        &:last-child {
            margin-right: 0;
        }
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}


.projects_it-was, .projects_task, .projects_result {
   margin-top: 20px;
    p {
        font-family: $lightFont;
        font-size: px-to-rem(18);
        line-height: px-to-rem(24);
        margin-top: 0;

        &:first-child {
            font-family: $mediumFont;
            font-size: px-to-rem(20);
            line-height: px-to-rem(26);
            margin-bottom: 13px; 
        }
    }

}

.projects_task {

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        
        
    }

    li{
        font-family: $lightFont;
        font-size: px-to-rem(18);
        line-height: px-to-rem(24);
        margin-bottom: 30px;
        margin-top: 0;
        position: relative;
        padding-left: 20px;

        &::after {
            content: "";
            width: 5px;
            height: 7px;
            background-color: $primary;
            position: absolute;
            left: 4px;
            top: 10px;
            transform: skew(-45deg);
        }
    }
}

.projects_object {
    border: 1px solid #555555;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.projects_item {
    font-family: $lightFont;
    border-bottom: 1px solid #555555;
    padding-left: 19px;
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;

    &:last-child {
        border-bottom: none;
    }

    p{
        margin: 0;
        font-size: px-to-rem(15);
        line-height: px-to-rem(19);
        color: #C4C4C4;
    }

    span {
        color: $white;
        margin-left: 5px;
    }

}

